/* --------------------------------------------------------------------
styles généraux
------------------------------------------------------------------- */

body * {
	font-family: 'Montserrat';
}

h1 {
	font-size: 30px;
	color: #184C78;
	margin: 50px 0;
	font-weight: 600;
	text-align: center;
}

/* --------------------------------------------------------------------
styles du header
------------------------------------------------------------------- */

.header {
    width: 100vw;
    height: 100px;
    background-color: #184C78;
    color: white;
    font-size: 50px;
    font-weight: 200;
}

#Logo {
	width: 200px;
	height: 100px;
}


/* --------------------------------------------------------------------
styles du home
------------------------------------------------------------------- */

.homepage_content {
	width: 100vw;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

#choose {
	width: 350px;
	height: 350px;
	background-color: #cc8d1a;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	box-shadow: 10px 5px 5px rgb(110, 98, 98);
}

#choose:hover {
	background-color: #184C78;
}

#choose a {
	text-decoration: none;
	color: white;
}


/* --------------------------------------------------------------------
styles du Form
------------------------------------------------------------------- */

.form_page_content {
	padding: 0 10%;
}

.input, .suggestion {
	width: 200px;
}

.suggestion {
	background-color: rgb(244, 232, 232);
}

.suggestion:hover {
	background-color: gray;
}

